# build file
**/.gradle
**/build/
!**/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/node_modules

# IntelliJ
.idea

# db file
db/mssql-data/**

# log file
**/log/**.log
**/logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

### VS Code ###
.vscode/
.cursor/

# local file
**/.DS_STORE