# build file
**/.gradle
**/build/
!**/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/node_modules

# db file
db/mssql-data/**

# log file
**/log/**.log

### VS Code ###
.vscode/
.cursor/

# local file
**/.DS_STORE
