services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: mssql-dev
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "YourStrong!Passw0rd"
      MSSQL_PID: "Developer"
    volumes:
      - ./mssql-data:/var/opt/mssql
    restart: unless-stopped
